
ul {
    list-style-type: none;
}

ul,
p {
    padding: 0;
    margin: 0
}

.box-shadow {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.padding {
    padding: .4rem;
}

.border {
    border: 1px solid rgba(0,0,0,0.2);
}

button,
input[type="submit"] {
    min-width: 5rem;
    text-transform: uppercase;
}


.flex {
    display: flex;
}

.flex
.row {
    flex-direction: row;
}

.flex
.space-between {
    justify-content: space-between;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}